# Data Science Tools and Ecosystem

### In this notebook, Data Science Tools and Ecosystem are summarized.

___Objectives:___
* List popular languages for Data Science
* List commonly used libraries used by Data Scientists
* Table of Data Science tools
* Introducing arithmetic expression examples

#### Some of the popular languages that Data Scientists use are:
1. R
2. Python
3. Julia
4. Java

#### Some of the commonly used libraries used by Data Scientists include:
1. Matplotlib
2. Pandas
3. TensorFlow
4. SciPy
5. Seaborn

| Data Science Tools |
| ------------------ |
| Jupyter Notebook |
| R Studio |
| Apache Spark |

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by diving by 60
Hours = 200/60
Hours

3.3333333333333335

## Author
Raneen Alharbi